@model StudentViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create Student</h1>
<hr />
<br />

<form asp-action="Create" asp-controller="Students" method="post" class="btn btn-info">


    <div asp-validation-summary="All"></div>

    <label asp-for="F_Name"></label>
    <input asp-for="F_Name" />
    <span asp-validation-for="F_Name"></span>

    <br />

    <label asp-for="L_Name"></label>
    <input asp-for="L_Name" />
    <span asp-validation-for="L_Name"></span>

    <br />

    <label asp-for="E_mail"></label>
    <input asp-for="E_mail" />
    <span asp-validation-for="E_mail"></span>

    <br />
    <br />
    <input type="submit" value="Add Student" />

</form>


