@model Student
@{
    ViewData["Title"] = "Edit";
}

<h1>Rename Student</h1>

<hr />
<br />

<form asp-action="Edit" asp-controller="Students" method="post" class="btn btn-info">
    <font style="align-content: stretch">

        <div asp-validation-summary="All"></div>

        <label asp-for="F_Name"></label>
        <input asp-for="F_Name" />
        <span asp-validation-for="F_Name"></span>

        <br />

        <label asp-for="L_Name"></label>
        <input asp-for="L_Name" />
        <span asp-validation-for="L_Name"></span>
        <input asp-for="E_mail" value="@Model.E_mail" type="hidden"/>
        <br />
       
        <input type="submit" value="Rename Student" />
    </font>
</form>
