@model Student
@{
    ViewData["Title"] = "Remove";
}


<h1>Remove Student</h1>


<hr />
<br />

<form asp-action="Remove" asp-controller="Students" method="post" class="btn btn-info">
    <input asp-for="Id" value="@Model.Id" type="hidden" />
    <font style="align-content: stretch">

        <label asp-for="F_Name"></label>
        <input asp-for="F_Name" disabled />

        <br />

        <label asp-for="L_Name"></label>
        <input asp-for="L_Name" disabled />

        <br />

        <label asp-for="E_mail"></label>
        <input asp-for="E_mail" disabled />

        <br />

        <input type="submit" value="Remove Student?" />
    </font>
</form>