<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <img src="~/img/logga.png" />
    <nav>
        <ul>
            <li>
                <a asp-action="Index" asp-controller="Home">Home</a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="Students">Student</a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="Courses">Course</a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="Teachers">Teacher</a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="Assignments">Assignments</a>
            </li>           
        </ul>
    </nav>

    <div id="renderbody">
        @RenderBody()
    </div>

    <footer>
        <p>Mikael Aurell &copy; @DateTime.Now.Year</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>