@model Course
@{
    ViewData["Title"] = "Details";
}

<h1>Course Details</h1>

<form asp-action="Remove" asp-controller="Courses" method="post" class="btn btn-info">

    <font style="align-content: flex-end">

        <label asp-for="Title"></label>
        <input asp-for="Title" disabled />
        <br />
        <label asp-for="Teacher"></label>
        <input asp-for="Teacher" disabled />
        <br />
        <hr />
        <label asp-for="Assignments"></label>
        <br />
        <label asp-for="Student_Course_Maps" hidden></label>
        <br />
        <hr />
        <input type="submit" value="Back to Create Course" />
    </font>
</form>